@model QuestionAndAnswerMVC.Models.RegistrationViewModel

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Registration", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="registrationForm">
        <div id="validation-summary"> </div>
        <h4>Registration Form</h4>                    
            @*<a class="btn btn-link" href="Login">Login</a>*@        
        <hr />
        <div class="k-form-field">
            <div class="k-form-field-wrap col-md-5">
                @(Html.Kendo()
                   .TextBoxFor(model => model.Username)
                   .Name("userName")
                   .Label(label => label.Content("User Name"))
                   .HtmlAttributes(new { placeholder = "Enter Full name",@class = "form-control", required = "required" })
                   )
            </div>
        </div>

        <div class="k-form-field">
            <div class="k-form-field-wrap col-md-5">
                @(Html.Kendo()
                  .TextBoxFor(model => model.Email)
                  .Name("email")
                  .Label(label => label.Content("Email"))
                  .HtmlAttributes(new { placeholder = "e.g. myname@example.net", @class= "form-control", required = "required", data_email_msg = "Email format is not valid" })
                  )
            </div>
        </div>

        <div class="k-form-field">
            <div class="k-form-field-wrap col-md-5">
                @(Html.Kendo()
                .TextBoxFor(model=>model.Pwd)
                .Name("pwd")
                .Label(label=>label.Content("Password"))
                .HtmlAttributes(new { type = "password",placeholder = "Enter password",@class="form-control", required = "required" })
                )
            </div>
        </div>

        <div class="k-form-field">
            <div class="k-form-field-wrap col-md-5">
                @(Html.Kendo()
                .TextBoxFor(model=>model.ConfirmPassword)
                .Name("confirmPassword")
                .Label(label=>label.Content("Confirm Password"))
                .HtmlAttributes(new { type = "password",placeholder = "Enter confirm password",@class="form-control", required = "required" })
                )
            </div>
        </div>

        <div class="k-form-field">
            <div class="k-form-field-wrap col-md-5">
                @(Html.Kendo()
                .NumericTextBoxFor(model=>model.YearsOfExperience)
                .Name("yearsOfExperience")
                .Label(label=>label.Content("Years of Experience"))
                .HtmlAttributes(new { placeholder = "Enter number of years of experience",@class = "form-control", required = "required" })
                )
            </div>
        </div>

        <div class="k-form-field">
            <div class="k-form-field-wrap col-md-5">
                @(Html.Kendo()
                .TextBoxFor(model=>model.Technology)
                .Name("technology")
                .Label(label=>label.Content("Technology"))
                .HtmlAttributes(new { placeholder = "Enter the technology on which you have worked on",@class = "form-control", required = "required" })
                )
            </div>
        </div>

        <div class="k-form-field">
            <div class="k-form-field-wrap col-md-5">
                <button class="btn btn-primary" type="submit" id="registrationSubmit">Register</button>
            </div>
        </div>

        @*<div class="modal fade" tabindex="-1" id="successModal"
                 data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                &times;
                            </button>
                        </div>
                        <div class="modal-body k-messagebox k-messagebox-success">
                            <h2>You have been successfully registerted</h2>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-success">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>

}

<script type="text/javascript">
    $(document).ready(function () {
        //Validating the fields if user has entered data or not
        var validator = $("#registrationForm").kendoValidator().data("kendoValidator");
        var validationSummary = $("#validation-summary");

        $("#registrationSubmit").on("click", function () {
            if (validator.validate()) {
                // If the form is valid, the Validator will return true
            }
            else {
            }
        });

        //Compaing passwords and gving success or error
        $("#registrationForm").kendoValidator({
            rules: {
                verifyPasswords: function (input) {
                    var ret = true;
                    if (input.is("[name=confirmPassword]")) {
                        ret = input.val() === $("#pwd").val();
                    }
                    return ret;
                }
            },
            messages: {
                verifyPasswords: "Passwords do not match!"
            }
        });

        //Calling the post method of API and saving the data in database
        $("#registrationSubmit").click(function () {
            var register = new Object();
            register.username = $("#userName").val();
            register.pwd = $("#pwd").val();
            register.confirmPassword = $("#confirmPassword").val();
            register.email = $("#email").val();
            register.yearsOfExperience = $("#yearsOfExperience").val();
            register.technology = $("#technology").val();
            $.ajax({
                type: "POST",
                url: "https://localhost:44363/api/RegistrationModels/",
                contentType: "application/json;charset=utf - 8",
                dataType: "json",
                data: JSON.stringify(register),
                success: function () {
                    validationSummary.html("<div class='k-messagebox k-messagebox-success'>You have been successfully registerted</div>");
                },
                error: function () {
                    validationSummary.html("<div class='k-messagebox k-messagebox-error'>Oops! There is invalid data in the form.</div>");
                }
            });
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
