@model QuestionAndAnswerMVC.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Registration", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="loginForm">
        <div id="validation-summary"> </div>
        <h4>Login Page</h4>
        <hr />
        <div class="k-form-field">
            <div class="k-form-field-wrap col-md-5">
                @(Html.Kendo()
                   .TextBoxFor(model => model.UserName)
                   .Name("userName")
                   .Label(label => label.Content("User Name"))
                   .HtmlAttributes(new { placeholder = "Enter Full name",@class = "form-control", required = "required" })
                   )
            </div>
        </div>

        <div class="k-form-field">
            <div class="k-form-field-wrap col-md-5">
                @(Html.Kendo()
                .TextBoxFor(model => model.Password)
                .Name("password")
                .Label(label=>label.Content("Password"))
                .HtmlAttributes(new { type = "password",placeholder = "Enter password",@class="form-control", required = "required" })
                )
            </div>
        </div>

        <div class="k-form-field col-md-5">
            <div class="k-form-field-wrap">
                <button class="btn btn-primary" type="submit" id="loginSubmit">Login</button>
                @Html.ActionLink("New User", "Index")
            </div>
        </div>
        <br />
        <div class="k-form-field col-md-5 km-left-drawer">
            <h4 class="alert-warning">@ViewData["Message"]</h4>
        </div>        
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        //Validating the fields if user has entered data or not
        var validator = $("#loginForm").kendoValidator().data("kendoValidator");
        var validationSummary = $("#validation-summary");

        $("#loginSubmit").on("click", function () {
            if (validator.validate()) {
                // If the form is valid, the Validator will return true
            }
            else {
            }
        });        

        $("#loginForm").submit(function (event) {
            event.preventDefault();

            //if (validator.validate()) {
            //    validationSummary.html("<div class='k-messagebox k-messagebox-success'>You have been successfully logged in</div>");
            //} else {
            //    validationSummary.html("<div class='k-messagebox k-messagebox-error'>Oops! There is invalid data in the form.</div>");
            //}
        });

        //$("#loginsubmit").click(function () {
        //    var login = new object();
        //    login.username = $("#username").val();
        //    login.password = $("#password").val();
        //    $.ajax({
        //        type: "post",
        //        url: "https://localhost:44363/api/LoginModel/Loginmodule",
        //        contenttype: "application/json;charset=utf - 8",
        //        datatype: "json",
        //        data: json.stringify(login),                
        //        success: function (data) {
        //           alert(data.responseText) 
        //          //alert.html("<div class='k-messagebox k-messagebox-success'>You have been successfully logged in</div>");
        //        },
        //        error: function () {
        //            alert(data.responseText)
        //           // alert.html("<div class='k-messagebox k-messagebox-success'>Login attempt failed</div>");
        //        }
        //    });
        //});
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


