@model QuestionsAndAnswersProject.Models.LoginModel
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    @*<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
    <style type="text/css">
        /*.Login {
            height: 220px;
        }*/

        .centerlook {
            padding-left: 400px;
            font-weight: bold;
            width: 1000px;
        }

        .error {
            padding-left: 400px;
            font-weight: bold;
            width: 1000px;
            color: red;
        }

        .loginbtn {
            padding-left: 500px;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-9">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group centerlook">
                    <h1> Login </h1>
                </div>
                @if (@ViewBag.Message != null)
                {
                    <div style="border: 1px solid red">
                        @ViewBag.Message
                    </div>
                }
                <div class="form-group centerlook">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" placeholder="Username" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group centerlook">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" placeholder="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group error">
                    @if (@ViewBag.Failedcount != null)
                    {
                        <label> Failed Attempt count is: @ViewBag.Failedcount</label>
                    }

                    @if (@ViewBag.NotValidUser != null)
                    {
                        <label> @ViewBag.NotValidUser</label>
                    }
                </div>
                <div class="loginbtn">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
                <b>@ViewBag.message</b>
            </form>
        </div>
    </div>
</body>
</html>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
