@model IEnumerable<QuestionAndAnswerMVC.Models.QuestionsandAnswersViewModel>
@{
    ViewBag.Title = "Questions";
}

@using (Html.BeginForm("Questions", "QuestionsAndAnswers", FormMethod.Post))
{
    <h4>Questions</h4>
    <hr />
    if (Model != null)
    {
        for (int i = 0; i < @Model.Count(); i++)
        {            
            <div>
                <label>@Model.ElementAt(i).QuestionID )</label>
                <input type="hidden" name="[@i].QuestionID" value="@Model.ElementAt(i).QuestionID" id="@Model.ElementAt(i).QuestionID" />
                <label id="@Model.ElementAt(i).QuestionID" value="@Model.ElementAt(i).Question" name="@Model.ElementAt(i).Question">@Model.ElementAt(i).Question</label>
            </div>

            <div>
                <div id="'lbl'+@i+@Model.ElementAt(i).Option1" name="lblOption1">@Model.ElementAt(i).Option1</div>
                <input type="radio" class="k-radio" value="@Model.ElementAt(i).Option1" name="[@i].Answers.ReceivedAnswers" />
            </div>

            <div>
                <div id="'lbl'+@i+@Model.ElementAt(i).Option2" name="lblOption2">@Model.ElementAt(i).Option2</div>
                <input type="radio" class="k-radio" value="@Model.ElementAt(i).Option2" name="[@i].Answers.ReceivedAnswers" />
            </div>

            <div>
                <div id="'lbl'+@i+@Model.ElementAt(i).Option3" name="lblOption3">@Model.ElementAt(i).Option3</div>
                <input type="radio" class="k-radio" value="@Model.ElementAt(i).Option3" name="[@i].Answers.ReceivedAnswers" />
            </div>

            <div>
                <div id="'lbl'+@i+@Model.ElementAt(i).Option4" name="lblOption4">@Model.ElementAt(i).Option4</div>
                <input type="radio" class="k-radio" value="@Model.ElementAt(i).Option4" name="[@i].Answers.ReceivedAnswers" />
            </div>
            <br />
        }
        <div class="k-action-button col-md-10">
            <button class="btn btn-success" type="submit" id="questionsSubmit">Submit</button>
        </div>
    }
}


@*@if (Session["username"] != null)
{
    <h4 style="text-align:right">Welcome @Session["username"].ToString()</h4>
}*@

@*<h4>Questions</h4>
<hr />
<div class="table">

    @foreach (var item in Model)
    {
        <div>
            <div>
                @Html.DisplayFor(modelItem => item.QuestionID) ) @Html.DisplayFor(modelItem => item.Question)

            </div>
            <div>
                <input type="radio" id="option1" name="@Html.DisplayFor(modelItem => item.QuestionID)" class="rb k-radio" value="@Html.DisplayFor(modelItem => item.Option1)" />
                @Html.DisplayFor(modelItem => item.Option1)
                <input type="radio" id="option2" name="@Html.DisplayFor(modelItem => item.QuestionID)" class="rb k-radio" value="@Html.DisplayFor(modelItem => item.Option2)" />
                @Html.DisplayFor(modelItem => item.Option2)
                <input type="radio" id="option3" name="@Html.DisplayFor(modelItem => item.QuestionID)" class="rb k-radio" value="@Html.DisplayFor(modelItem => item.Option3)" />
                @Html.DisplayFor(modelItem => item.Option3)
                <input type="radio" id="option4" name="@Html.DisplayFor(modelItem => item.QuestionID)" class="rb k-radio" value="@Html.DisplayFor(modelItem => item.Option4)" />
                @Html.DisplayFor(modelItem => item.Option4)
            </div>
            <br />
        </div>
        <div>
            <div>
                <label id="correctAnswer" name="@Html.DisplayFor(modelItem => item.QuestionID)" class="rb k-radio-label" style="display:none;color:forestgreen"><b>@Html.DisplayFor(modelItem => item.ActualAnswer)</b></label>
            </div>
        </div>
    }

</div>
<br />

<div class="k-action-button col-md-10">
    <button class="btn btn-success" type="submit" id="questionsSubmit" onclick="displayresults();">Submit</button>
</div>
<br />
<br />
    }
<label id="userAnswers"></label>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#questionsSubmit").click(function () {
            $(".rb").show();
            $(".rb").attr("disabled", true);
        });
    });
    function displayresults() {
        document.getElementById("userAnswers").innerHTML = "";
        var result = document.getElementsByTagName('input');
        for (i = 0; i < result.length; i++) {
            if (result[i].type == "radio") {
                if (result[i].checked) {
                    document.getElementById("userAnswers").innerHTML += "Q " + result[i].name + ")" + "Your selected answers is " + result[i].value + "<br/>";
                }
            }
        }
    }
</script>*@

